<body>
    <header>
        <div>
            <a href=""><img src="assets/2-1-brafe-1-puro-html-1_arquivos/brafe-1-puro/img/brafe.png" alt="Brafé"></a>
        </div>
        <nav>
            <ul>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Portifólio</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Cafés com a cara <br> do Brasil</h1>
        <p>Direto das fazendas de Minas Gerais</p>
    </main>

    <section>
        <h2>Umas mistura de</h2>
        <div>
            <div>
                <img src="assets/2-1-brafe-1-puro-html-1_arquivos/brafe-1-puro/img/cafe-1.jpg" alt="Cafe 1">
                <h3>Amor</h3>
            </div>
            <div>
                <img src="assets/2-1-brafe-1-puro-html-1_arquivos/brafe-1-puro/img/cafe-2.jpg" alt="Cafe 2">
                <h3>Perfeição</h3>
            </div>
        </div>
        <p>
            O cafés é uma bebida produzida a partir dos grãos torrados do frutu cafeeiro. É servido 
            tradicionalmente quente, mas também pode ser consumido gelado. Ele é estimulante, por possuir
            cafeína - geralmente 80 a 140 mg a cada 207 ml dependendo do método de preparação.
        </p>
    </section>

    <section>
        <div>
            <div>
                <h2>Paulista</h2>
                <p> As condições climáticas não eram as melhores nessa primeira escolha e, entre 1800 e 1850,
                    tentou-se o cultivo noutras regiões:o João Alberto Castelo Branco trouxe mudas do Pará.
                </p>
            </div>
            <div>
                <h2>Carioca</h2>
                <p> As condições climáticas não eram as melhores nessa primeira escolha e, entre 1800 e 1850,
                    tentou-se o cultivo noutras regiões:o João Alberto Castelo Branco trouxe mudas do Pará.
                </p>
            </div>
            <div>
                <h2>Mineiro</h2>
                <p> 
                    As condições climáticas não eram as melhores nessa primeira escolha e, entre 1800 e 1850,
                    tentou-se o cultivo noutras regiões:o João Alberto Castelo Branco trouxe mudas do Pará.
                </p>
            </div>
        </div>
        <a href="#">Saiba Mais</a>
    </section>

    <section>
        <div>
            <img src="assets/2-1-brafe-1-puro-html-1_arquivos/brafe-1-puro/img/botafogo.jpg" alt="Brafe unidade 1">
            <div>
                <h2>Botafogo</h2>
                <p>
                    As condições climáticas não eram as melhores nessa primeira escolha e, entre 1800 e 1850,
                    tentou-se o cultivo noutras regiões:o João Alberto Castelo Branco trouxe mudas do Pará.
                </p>
                <a href="#">Ver Mapa</a>
            </div>
        </div>
        <div>
            <img src="assets/2-1-brafe-1-puro-html-1_arquivos/brafe-1-puro/img/iguatemi.jpg" alt="Brafe unidade iguatemi">
            <div>
                <h2>Igautemi</h2>
                <p>
                    As condições climáticas não eram as melhores nessa primeira escolha e, entre 1800 e 1850,
                    tentou-se o cultivo noutras regiões:o João Alberto Castelo Branco trouxe mudas do Pará.
                </p>
                <a href="#">Ver Mapa</a>
            </div>
        </div>
        <div>
            <img src="assets/2-1-brafe-1-puro-html-1_arquivos/brafe-1-puro/img/mineirao.jpg" alt="Brafe unidade mineirão">
            <div>
                <h2>Mineirão</h2>
                <p>
                    As condições climáticas não eram as melhores nessa primeira escolha e, entre 1800 e 1850,
                    tentou-se o cultivo noutras regiões:o João Alberto Castelo Branco trouxe mudas do Pará.
                </p>
                <a href="#">Ver Mapa</a>
            </div>
        </div>
    </section>

    <section>
        <div>
            <div>
                <h2>
                    Assine Nossa Newsletter
                </h2>
                <p>promoções e eventos mensais</p>
            </div>
            <form>
                <label>Email</label>
                <input type="text" placeholder="Digite seu e-mail">
                <button type="submit">Enviar</button>
            </form>
        </div>
    </section>

    <footer>
        <div>
            <p>
                Este é um projeto feito por Israel Magalhães Teixeira. Mais em https://github.com/israelmteixeira1. <br>
            </p>
            <img src="assets/2-1-brafe-1-puro-html-1_arquivos/brafe-1-puro/img/brafe.png" alt="Brafé">
        </div>
    </footer>
</body>